<h3><%= question.title %></h3>
<hr/>
<div class="post-container <%= "deleted-content" if question.is_deleted %>">
  <div class="vote-box">
    <p>
      <% if my_vote(question) && my_vote(question).vote_type == 1 %>
        <img class="vote-button" data-vote="1/<%= question.id %>/q/<%= my_vote(question).id %>"
             id="question-<%= question.id %>-up" src="/assets/up-fill.png" height="48" />
      <% else %>
        <img class="vote-button" data-vote="1/<%= question.id %>/q/-1"
           id="question-<%= question.id %>-up" src="/assets/up-clear.png" height="48" />
      <% end %>
    </p>
    <p class="post-score large-text center" title="+<%= @upvotes %>/-<%= @downvotes %>"><%= question.score %></p>
    <p>
      <% if my_vote(question) && my_vote(question).vote_type == -1 %>
        <img class="vote-button" data-vote="-1/<%= question.id %>/q/<%= my_vote(question).id %>"
             id="question-<%= question.id %>-down" src="/assets/down-fill.png" height="48" />
      <% else %>
        <img class="vote-button" data-vote="-1/<%= question.id %>/q/-1"
           id="question-<%= question.id %>-down" src="/assets/down-clear.png" height="48" />
      <% end %>
    </p>
  </div>
  <div class="body-box">
    <%= raw(sanitize(QuestionsController.renderer.render(question.body), scrubber: QuestionScrubber.new)) %>
  </div>
  <span class="clearfix"></span>
  <hr/>
  <div class="post-info">
    <div class="post-tags">
      <% question.tags.each do |tag| %>
        <a href="/questions/tagged/<%= tag %>"><span class="tag"><%= tag %></span></a>
      <% end %>
    </div>
    <div class="post-author">
      Posted <span title="<%= question.created_at %>" data-livestamp="<%= question.created_at.to_time.iso8601 %>">at <%= question.created_at %></span>
      by <a href="/users/<%= question.user.id %>"><%= question.user.username %></a> (<%= question.user.reputation %>)
    </div>
    <% if with_actions %>
      <div class="clearfix padded"></div>
      <div class="padded">
        <a href="/questions/<%= question.id %>/edit">edit</a> /
        <% if !question.is_closed %>
          <%= link_to "close", url_for(:controller => :questions, :action => :close, :id => question.id),
            :method => :patch, :remote => true, :class => 'close-question' %>
        <% else %>
          <%= link_to "reopen", url_for(:controller => :questions, :action => :reopen, :id => question.id),
            :method => :patch, :remote => true, :class => 'reopen-question' %>
        <% end %> /
        <% if !question.is_deleted %>
          <%= link_to "delete", url_for(:controller => :questions, :action => :destroy, :id => question.id),
            :method => :delete, data: { :confirm => 'Are you sure you want to delete this question?' }, :class => "text-danger" %>
        <% else %>
          <%= link_to "undelete", url_for(:controller => :questions, :action => :undelete, :id => question.id),
            :method => :delete, data: { :confirm => 'Undelete this question, making it visible to regular users?' }, :class => "text-danger" %>
        <% end %> /
        <a href="#" class="flag-link" data-post-type="Question" data-post-id="<%= question.id %>">flag</a>
      </div>
      <hr/>
      <% if question.is_closed %>
        <div class="alert alert-warning question-closed">
          <h4><strong>Question Closed</strong></h4>
          <p>This question was closed by <strong><a href="/users/<%= question.closed_by.id %>"><%= question.closed_by.username %></a></strong>.
            New answers cannot be added.</p>
        </div>
      <% end %>
      <div class="comments-container">
        <% question.comments.each do |comment| %>
          <%= render 'comments/comment', :comment => comment %>
        <% end %>
        <%= form_for Comment.new, url: { :controller => :comments, :action => :create } do |f| %>
          <%= f.hidden_field :post_type, :value => 'Question' %>
          <%= f.hidden_field :post_id, :value => question.id %>
          <div class="field">
            <%= f.text_area :content, { class: "form-control", rows: 3 } %>
          </div>
          <div class="field">
            <%= f.submit "Add Comment", class: "btn btn-default" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
